.main {
  display: flex;
  min-height: 100vh;
  width: 100vw;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .listar {
      font-size: 1.5rem;
      font-weight: bold;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      transition: all 0.3s ease-in-out;
      background-color: #fff;
      cursor: pointer;
      border-radius: 5px;

      &:hover,
      &:focus,
      &:active {
        background-color: #f6f6f6;
        border: 1px dashed #000;
      }
    }
  }
}