.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding-top: 24px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}
