.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  gap: .75rem;
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

