.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
  gap: .75rem;
  width: 100%;

  .buttonLogin {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

