.header {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
  gap: .75rem;
  width: 100%;

  .buttonLogin {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .usuario {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem 0;
  }
}

